<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>


  <appSettings>
    <add key="BaseUrl" value="https://www.bing.com" />
  </appSettings>


  <autofac>
    <components>
      <component name="FirefoxLocal" type="OpenQA.Selenium.Firefox.FirefoxDriver, WebDriver"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>
      <component name="ChromeLocal" type="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>


      <component name="Debug"
                 type="Unickq.SpecFlow.Selenium.Local.ChromeDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="capabilities">
            <dictionary>
              <item key="arguments" value="--window-size=1900,1050" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
      <component name="DebugIphone"
                 type="Unickq.SpecFlow.Selenium.Local.ChromeDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="capabilities">
            <dictionary>
              <item key="arguments" value="--window-size=395,687" />
              <item key="mobileEmulation" value="iPhone 6" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
      <component name="DebugIpad"
                 type="Unickq.SpecFlow.Selenium.Local.ChromeDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="capabilities">
            <dictionary>
              <item key="arguments" value="--window-size=788,1044" />
              <item key="mobileEmulation" value="iPad" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
    </components>
  </autofac>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="Unickq.SpecFlow.Selenium" />
    <generator allowDebugGeneratedFiles="true" markFeaturesParallelizable="true" />
    <plugins>
      <add name="Unickq.SpecFlow.Selenium" />
    </plugins>
  </specFlow>
</configuration>